@using Models.EF
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/ProductList.cshtml";}
@model IEnumerable<M1Product>
@foreach (var item in Model)
{
    <div class="row">
        <div>@item.ID</div>
        <img src="~/@item.Image" />
    </div>
}
