
@{
    ViewBag.Title = "Đồng bộ dữ liệu từ phần mềm";
}

<h2>ĐỒNG BỘ DỮ LIỆU - TỪ PHẦN MỀM LÊN WEBSITE</h2>
<h3>***chú ý: Phải đồng bộ loại mặt hàng trước khi đồng bộ các mặt hàng</h3>
<a href="/Home/MathangLoai" class="btn btn-block btn-danger"><span class="glyphicon glyphicon-th-list"></span> Đồng bộ loại mặt hàng</a>

<a href="/Home/Mathang" class="btn btn-block btn-primary"><span class="glyphicon glyphicon-align-left"></span> Đồng bộ mặt hàng</a>
