<div class="section-element hidden-xs">
    <div class="container">
        <div class="row">
            <div class="wpb_column column_container col-sm-6">
                <div class="vc_column-inner ">
                    <div class="wpb_wrapper">
                        <div class="wpb_single_image wpb_content_element vc_align_left">

                            <figure class="wpb_wrapper vc_figure">
                                <a href="#" target="_self" class="vc_single_image-wrapper   vc_box_border_grey"><img width="570" height="120" src="/wp-content/uploads/2016/03/banner-4-1.jpg" class="vc_single_image-img attachment-full" alt="banner-4" srcset="/wp-content/uploads/2016/03/banner-4-1.jpg 570w, /wp-content/uploads/2016/03/banner-4-1-300x63.jpg 300w" sizes="(max-width: 570px) 100vw, 570px" /></a>
                            </figure>
                        </div>
                    </div>
                </div>
            </div><div class="wpb_column column_container col-sm-6">
                <div class="vc_column-inner ">
                    <div class="wpb_wrapper">
                        <div class="wpb_single_image wpb_content_element vc_align_right">

                            <figure class="wpb_wrapper vc_figure">
                                <a href="#" target="_self" class="vc_single_image-wrapper   vc_box_border_grey"><img width="570" height="120" src="/wp-content/uploads/2016/03/banner-5-1.jpg" class="vc_single_image-img attachment-full" alt="banner-5" srcset="/wp-content/uploads/2016/03/banner-5-1.jpg 570w, /wp-content/uploads/2016/03/banner-5-1-300x63.jpg 300w" sizes="(max-width: 570px) 100vw, 570px" /></a>
                            </figure>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>